/* CSS 작성 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header {
  margin-top: 100px;
  margin-bottom: 70px;
}

header h4 {
  color: var(--gray);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-top: 8px;
}

section > main {
  width: 1020px;
  height: 1002px;
  margin-top: 24px;
}

.first_box {
  position: relative;
}

.first_img_container {
  float: left;
  position: relative;
  margin-bottom: 20px;
  width: 502px;
  height: 310px;
}

.first_box_img {
  width: 502px;
  height: 310px;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_box div:first-child {
  margin-right: 16px;
}

.first_box_img img {
  width: 446px;
  height: 270px;
}

.second_img_container {
  float: left;
  position: relative;
  width: 243px;
  height: 310px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.second_box div:last-child {
  margin-right: 0px;
}

.second_box_img {
  width: 243px;
  height: 310px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_box_img img {
  width: 200px;
  height: 282px;
}

.third_img_container {
  position: relative;
  float: left;
  margin-right: 16px;
}

.third_box > div:first-child {
  width: 502px;
  height: 310px;
}

.third_box > div:nth-child(2) {
  width: 243px;
  height: 310px;
}

.third_box > div:last-child {
  width: 243px;
  height: 310px;
}

.third_box div:last-child {
  margin-right: 0px;
}

.third_box_img {
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 243px;
  height: 310px;
}

.third_box_img img {
  width: 200px;
  height: 282px;
}

.big_size {
  width: 502px;
  height: 310px;
}

.big_size img {
  width: 446px;
  height: 270px;
}

.arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: var(--gray);
  border: 0px;
  top: 248px;
  left: 20px;
  opacity: 90%;
  transition: background-color 1.5s;
}

a:hover > div {
  border: 1px solid var(--blue);
}

a:focus > div {
  border: 1px solid var(--blue);
}

.img_link:hover .arrow {
  width: 112px;
  background-color: var(--blue);
}

.img_link:focus .arrow {
  width: 112px;
  background-color: var(--blue);
}

.img_link:hover .arrow::before {
  content: "구매하기";
  color: var(--white);
  margin-left: 1px;
  margin-top: 12.5px;
  font-size: 12px;
  font-weight: 500;
}

.img_link:focus .arrow::before {
  content: "구매하기";
  color: var(--white);
  margin-left: 1px;
  margin-top: 12.5px;
  font-size: 12px;
  font-weight: 500;
}

.img_container {
  position: relative;
}
