/* CSS 작성 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header {
  margin-top: 100px;
  margin-bottom: 70px;
}

header h4 {
  color: var(--gray);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-top: 8px;
}

section > main {
  width: 1020px;
  height: 1002px;
  margin-top: 24px;
}

.first_box div {
  float: left;
  margin-bottom: 20px;
  width: 502px;
  height: 310px;
}

.first_box_img {
  border: 1px solid var(--gray);
}

.first_box div:first-child {
  margin-right: 16px;
}

.first_box_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_box_img img {
  width: 446px;
  height: 270px;
}

.second_box div {
  float: left;
  width: 243px;
  height: 310px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.second_box > div {
  border: 1px solid var(--gray);
}

.second_box div:last-child {
  margin-right: 0px;
}

.second_box_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_box_img img {
  width: 200px;
  height: 282px;
}

.third_box div {
  float: left;
  margin-right: 16px;
}

.third_box > div {
  border: 1px solid var(--gray);
}

.third_box > div:first-child {
  width: 502px;
  height: 310px;
}

.third_box > div:nth-child(2) {
  width: 243px;
  height: 310px;
}

.third_box > div:last-child {
  width: 243px;
  height: 310px;
}

.third_box div:last-child {
  margin-right: 0px;
}

.third_box_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 243px;
  height: 310px;
}

.third_box_img img {
  width: 200px;
  height: 282px;
}

.big_size {
  width: 502px;
  height: 310px;
}

.big_size img {
  width: 446px;
  height: 270px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: var(--gray);
  border: 0px;
  position: absolute;
  top: 248px;
  left: 20px;
  opacity: 90%;
}

a:hover > div {
  border: 1px solid var(--blue);
}

a:focus > div {
  border: 1px solid var(--blue);
}

a:hover > button {
  background-color: var(--blue);
  width: 112px;
}

a:focus > button {
  background-color: var(--blue);
  width: 112px;
}

a:hover > button::before {
  content: "구매하기";
  color: var(--white);
  margin-left: 1px;
  font-size: 12px;
}

a:focus > button::before {
  content: "구매하기";
  color: var(--white);
  margin-left: 1px;
  font-size: 12px;
}

.img_container {
  position: relative;
}
